<p>servicios works!</p>
<h1>Lista de verificacion</h1>
<hr>
<base href="/">


<div class="row">
  <div class="col text-right">
      <a routerLink="/lista/nuevo" routerLinkActive="active" class="button">Lista de verificacion</a>
      <router-outlet></router-outlet>
  </div>
</div>

<table class="table mt-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col"> Hora de entrega</th>
      <th scope="col">Hora de salida</th>

      <th scope="col"> frontal</th>
      <th scope="col">lateral derecho</th>
      <th scope="col">lateral izquierdo</th>
      <th scope="col">Trasera</th>

      <th scope="col">Foto frontal</th>
      <th scope="col">Foto lateral derecho </th>
      <th scope="col">Foto  lateral izquierdo</th>
      <th scope="col">Foto  trasera </th>
      <th scope="col"> h</th>
    </tr>

  </thead>
  <tbody>
    <tr  >
      <th scope="row"> </th>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td>  </td>
      <td><td>
        <button class="btn btn-info mr-1"
        >/</button>


      </td>

    </tr>

  </tbody>
</table>

