<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-clientes></app-clientes>

<app-servicios></app-servicios>

<app-lista-verificacion></app-lista-verificacion>

<app-veiculos></app-veiculos>

<app-viaticos></app-viaticos>

<app-operadores></app-operadores>

<app-seguimiento></app-seguimiento>

<app-notificaciones></app-notificaciones>
